body {
	background: url('img/background.png') repeat 100% 100%;
}
body, .skeleton, .skeleton td {
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
}
.skeleton { 
	width: 800px; 
	margin: 40px auto;
	border: 1px solid black; 
	background: url('img/skel-bg.png') repeat 100% 100%;
	background-size: 100% 100%
}
.skeleton td { 
	vertical-align: top;
}
.header {
	font-family: 'Mr Dafoe', cursive;
	/*border-bottom: 1px solid black;*/
	text-align: center;
	vertical-align: middle;
	font-size: 4em;
	padding: 50px;
}
.subheader {
	font-family: arial;
	font-size: .4em;
	text-align: center;
	display: none;
}
.menu {
	/*border-right: 1px solid black;*/
	width: 200px;
	height: 1000px;
}
.menu a {
	padding-left: 30px;
	display: block;
	text-decoration: none;
	color: black;
	margin: 10px 15px;
	font-size: 1.2em;
}
.content {
	margin: 13px 30px;
}
.content h4 {
	margin-top: 0px;
}
.balloon {
	position: fixed;
	right: 50px;
	top: 100px;
	z-index: -1;

}
